PORT=
MONGO_URI_DEV=
MONGO_URI_TEST=
MONGO_URI_PRODUCTION=
JWT_SECRET=
JWT_EXPIRE=
BASE_API_URL=
BCRYPT_SALT_ROUNDS=
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
FACEBOOK_CALL_BACK_URL=
LINKED_IN_CLIENT_ID=
LINKED_IN_CLIENT_SECRET=
LINKEDIN_CALL_BACK_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALL_BACK_URL=
SENDGRID_API_KEY=
SENDGRID_FROM_NAME=
SENDGRID_FROM_EMAIL=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
